@import "./../../../styles.scss";

section {
  position: relative;
  margin: 0;
}

.background {
  position: absolute;
  z-index: -1;
  top: 32vh;
  right: -16vw;
  @media screen and (max-width: 980px) {
    max-width: 80%;
    top: 24vh;
    right: -50vw;
  }
}

.portfolio {
  margin: auto;
  padding: 140px 0 40px 200px;
  max-width: 1640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 980px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: 520px) {
    padding: 100px 40px;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 4px;
      bottom: 50%;
      left: -140px;
      background-color: $prim2;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 800px;
      height: 4px;
      bottom: 50%;
      right: -840px;
      background-color: $prim2;
    }
  }
  p {
    color: white;
  }
}
