<div class="imprint">
  <a href="/"><img class="arrow" /></a>
    <h1>{{'imprint.title' | translate}}</h1>
      <h2>{{'imprint.right' | translate}}</h2>
        <p>Semir Muratovic<br />
        Thalhauser Fußweg 26<br />
        85354 Freising</p>
      <h2>{{'imprint.contact' | translate}}</h2>
        <p>{{'imprint.phone' | translate}}: <a href="tel:+4915750640726">0049 (0) 157 506 407 26</a><br />
        E-Mail: <a href="mailto:semir.muratovic1990@hotmail.com">semir.muratovic1990&#64;hotmail.com</a></p>
        <p>{{'imprint.source' | translate}}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  </div>
